<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingsoft.spider.core.home.settings.mapper.SettingMapper">
    <insert id="addUser">
        INSERT  INTO users(
          user_name,
          pass_word,
          generate_time,
          email
        )VALUES
        (
          #{userName},
          #{passWord},
          #{generateTime},
          #{email}
        )
    </insert>
    <update id="updateUser">
        UPDATE users
        SET user_name=#{userName},pass_word=#{passWord},email=#{email}
        WHERE id=#{id}
    </update>
    <delete id="delUser">
        DELETE FROM users
        WHERE id=#{id}
    </delete>
    <select id="getUserInfoList" resultType="com.kingsoft.spider.core.home.settings.dto.UserInfoDto">
       SELECT id,user_name AS userName,pass_word AS passWord,generate_time AS generateTime,last_time AS lastTime FROM users
    </select>
    <select id="getUserById" resultType="com.kingsoft.spider.core.home.settings.dto.UserDto">
    SELECT user_name AS userName,email AS email
     FROM users WHERE id=#{id}
    </select>
    <select id="getRoleByUserName" resultType="java.lang.Integer">
        SELECT role_id FROM users WHERE user_name=#{userName}
    </select>
</mapper>