<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.spider.business.generic.home.mapper.DefaultMapper">

    <select id="getAllSpiderConfig"
            resultType="com.kingsoft.spider.business.generic.home.dto.DataBaseConfigDto">
        SELECT
        group_name,
        item_name,
        common_url,
        match_fields AS matchFields,
        db_type AS dbType,
        db_address AS dbAddress,
        db_name AS dbName,
        db_username AS dbUserName,
        db_password AS dbPassWord,
        db_table AS dbTable
        FROM spider_config
    </select>
</mapper>