<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{ })">

<script src="/assets/js/datatables/js/jquery.dataTables.min.js"
        th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>
<script src="/assets/js/datatables/dataTables.bootstrap.js"
        th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"
        th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"
        th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>

<MainContent>
    <link rel="stylesheet" href="/assets/js/datatables/dataTables.bootstrap.css"
          th:href="@{/assets/js/datatables/dataTables.bootstrap.css}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">爬虫配置列表</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $("#example-2").dataTable({
                        dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        retrieve: true,
                        aoColumns: [
                            null,
                            null,
                            null,
                            null
                        ]
                    });

                });
            </script>
            <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid"
                       aria-describedby="example-2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务名" style="width: 205px;">
                            任务名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="组名" style="width: 116px;">
                            组名
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="修改时间"
                            style="width: 248px;">
                            修改时间
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="行为" style="width: 199px;">
                            行为
                        </th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">

                    <tr role="row" class="odd">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧</td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 </td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                修改任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                删除任务
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="example-2_paginate">
                            <ul class="pagination">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</MainContent>
</html>