<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{::PageContainerBelow })">
<script src="/assets/js/datatables/js/jquery.dataTables.min.js"
        th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>
<script src="/assets/js/datatables/dataTables.bootstrap.js"
        th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"
        th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"
        th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>
<script src="/assets/generic/gather/taskcollect/index.js"
        th:src="@{/assets/generic/gather/taskcollect/index.js}"></script>
<MainContent>
    <!-- Removing search and results count filter -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">定时采集列表</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
        </div>
        <div class="panel-body">

            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $("#plan-task").dataTable({
                        dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        retrieve: true,
                        aoColumns: [
                            null,
                            null,
                            null,
                            null,
                            null,
                            null
                        ]
                    });

                    $("#run-task").dataTable({
                        dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        retrieve: true,
                        aoColumns: [
                            null,
                            null,
                            null,
                            null,
                            null
                        ]
                    });

                });
            </script>
            <div class="row">
                <div class="col-sm-9">
                    <button class="btn btn-secondary btn-icon btn-icon-standalone add-timer-task">
                        <i class="fa-plus-square-o"></i>
                        <span>添加任务</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <p class="bg-info">计划中的任务</p>
            </div>
            <div id="plan-task_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered table-striped dataTable no-footer" id="plan-task" role="grid"
                       aria-describedby="example-2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务名称" style="width: 151px;">
                            任务名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务分组" style="width: 134px;">
                            任务分组
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务状态"
                            style="width: 197px;">
                            任务状态
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="时间表达式"
                            style="width: 197px;">
                            时间表达式
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务描述"
                            style="width: 197px;">
                            任务描述
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="Actions: activate to sort column ascending" style="width: 321px;">
                            行为
                        </th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">
                    <tr th:each="item  : ${scheduleJobList}" th:class="${itemStat.odd}? 'odd':'even'" role="row">
                        <td th:text="${item.jobName}">微博</td>
                        <td th:text="${item.jobGroup}">小米枪战</td>
                        <td th:text="${item.status}">运行中</td>
                        <td th:text="${item.cronExpression}">1.1.1.11.*?</td>
                        <td th:text="${item.description}">每天12点定时取内容</td>
                        <td>
                            <button
                                    th:value="${item.scheduleJobId}"
                                    class="btn  btn-secondary btn-icon btn-icon-standalone btn-sm timer-task-edit">
                                <i class="fa-cog"></i>
                                <span>修改</span>
                            </button>
                            <button
                                    th:value="${item.scheduleJobId}"
                                    class="btn  btn-info btn-icon btn-icon-standalone btn-sm timer-task-pause">
                                <i class="fa-pause"></i>
                                <span>暂停</span>
                            </button>
                            <button
                                    th:value="${item.scheduleJobId}"
                                    class="btn  btn-info btn-icon btn-icon-standalone btn-sm timer-task-resume">
                                <i class="fa-play"></i>
                                <span>恢复</span>
                            </button>

                            <button
                                    th:value="${item.scheduleJobId}"
                                    class="btn btn-info btn-icon btn-icon-standalone btn-sm timer-task-del">
                                <i class="fa-trash"></i>
                                <span>刪除</span>
                            </button>
                        </td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <p class="bg-success">运行中的任务</p>
            </div>
            <div id="run-task_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered table-striped dataTable no-footer" id="run-task" role="grid"
                       aria-describedby="example-2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务名称" style="width: 151px;">
                            任务名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务分组" style="width: 134px;">
                            任务分组
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务状态"
                            style="width: 197px;">
                            任务状态
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="时间表达式"
                            style="width: 197px;">
                            时间表达式
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务描述"
                            style="width: 197px;">
                            任务描述
                        </th>

                    </tr>
                    </thead>

                    <tbody class="middle-align">
                    <tr th:each="item  : ${executingJobList}" th:class="${itemStat.odd}? 'odd':'even'" role="row">
                        <td th:text="${item.jobName}"></td>
                        <td th:text="${item.jobGroup}"></td>
                        <td th:text="${item.status}"></td>
                        <td th:text="${item.cronExpression}"></td>
                        <td th:text="${item.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="show-message"></div>
    </div>
</MainContent>

<PageContainerBelow>

    <div class="modal fade" id="modal-del" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否删除该定时任务
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info del-timer-task">是</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-resume" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否恢复该定时任务
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info resume-timer-task">是</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-stop" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否暂停该定时任务
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info stop-timer-task">是</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="add-task-model">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加定时任务</h4>
                </div>
                <form role="form" id="timer-task-form" action="/generic/gather/taskcollect/save.html"
                      th:action="@{/generic/gather/taskcollect/save.html}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="jobName" class="control-label">任务名称</label>

                                    <input type="text" class="form-control" id="jobName" name="jobName"
                                           placeholder="任务名称">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="jobGroup" class="control-label">任务分组</label>

                                    <input type="text" class="form-control" id="jobGroup" name="jobGroup"
                                           placeholder="任务分组">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">配置列表项</label>
                                    <select class="form-control" name="spiderId" id="configItem">
                                        <th:block th:each="item  : ${configItems}">
                                            <th:block th:if="${itemStat.first==true}">
                                                <option value="none" disabled="disabled" selected>选择爬虫标识码</option>
                                            </th:block>
                                            <option th:value="${item.spiderId}" th:text="${item.uuid}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="cronExpression" class="control-label">时间表达式</label>

                                    <input type="text" class="form-control" id="cronExpression" name="cronExpression"
                                           onblur="checkCronValid();"   placeholder="时间表达式">
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group no-margin">
                                    <label for="description" class="control-label">任务描述</label>

                                    <textarea class="form-control autogrow" name="description" id="description"
                                              placeholder="任务描述"></textarea>
                                </div>

                            </div>
                        </div>
                        <input type="hidden" name="scheduleJobId">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-info save-timer-task">提交</button>
                    </div>
                </form>
            </div>
            <div class="add-timer-task-msg"></div>
        </div>
    </div>

</PageContainerBelow>

</html>