<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{::PageContainerBelow})">

<script src="/assets/js/datatables/js/jquery.dataTables.min.js"
        th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>
<script src="/assets/js/datatables/dataTables.bootstrap.js"
        th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"
        th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"
        th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>
<script src="/assets/generic/gather/onlinecollect/index.js"
        th:src="@{/assets/generic/gather/onlinecollect/index.js}"></script>

<MainContent>
    <!-- Removing search and results count filter -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">在线采集列表</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $("#example-2").dataTable({
                        dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        retrieve: true,
                        aoColumns: [
                            null,
                            null,
                            null,
                            null,
                            null
                        ]
                    });
                });
            </script>

            <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid"
                       aria-describedby="example-2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务组" style="width: 231px;">
                            任务组
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务名称" style="width: 194px;">
                            任务名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="目标网站"
                            style="width: 397px;">
                            目标网站
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="上次采集时间"
                            style="width: 197px;">
                            上次采集时间
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="7"
                            aria-label="行为" style="width: 297px;">
                            行为
                        </th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">
                    <tr th:each="item  : ${list}" th:class="${itemStat.odd}? 'odd':'even'" role="row">
                        <td>
                            <th:block th:text="*{item.groupName}"></th:block>
                            <th:block th:if="${#strings.equals(item.status,'未启动')}">
                                <span class="label label-warning" th:id="${item.uuid}" th:text="${item.status}"></span>
                            </th:block>
                            <th:block th:if="${#strings.equals(item.status,'初始化')}">
                                <span class="label label-success" th:id="${item.uuid}" th:text="${item.status}"></span>
                            </th:block>
                            <th:block th:if="${#strings.equals(item.status,'运行中')}">
                                <span class="label label-success" th:id="${item.uuid}" th:text="${item.status}"></span>
                            </th:block>
                            <th:block th:if="${#strings.equals(item.status,'已停止')}">
                                <span class="label label-info" th:id="${item.uuid}" th:text="${item.status}"></span>
                            </th:block>
                        </td>
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.domain}"></td>
                        <td th:text="${item.time}"></td>
                        <td>

                                <button th:value="${item.id}"
                                        class="btn  btn-secondary btn-icon btn-icon-standalone btn-sm spider-start">
                                    <i class="fa-play"></i>
                                    <span>开始采集</span>
                                </button>


                                <button th:value="${item.uuid}"
                                        class="btn  btn-info btn-icon btn-icon-standalone btn-sm spider-stop">
                                    <i class="fa-stop"></i>
                                    <span>停止采集</span>
                                </button>

                                <button th:value="${item.uuid}"
                                        class="btn btn-info btn-icon btn-icon-standalone btn-sm spider-log-show">
                                    <i class="fa-magnet"></i>
                                    <span>查看进度</span>
                                </button>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="show-message">
            </div>
        </div>
    </div>
</MainContent>

<PageContainerBelow>
    <div class="modal fade" id="modal-start" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否开始采集
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info execute-start-spider">是</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-stop" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否停止采集
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info execute-stop-spider">是</button>
                </div>
            </div>
        </div>
    </div>
</PageContainerBelow>


</html>