<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{})">
<link rel="stylesheet" href="/assets/css/fonts/meteocons/css/meteocons.css"
      th:href="@{/assets/css/fonts/meteocons/css/meteocons.css}">
<script src="/assets/js/xenon-widgets.js" th:src="@{/assets/js/xenon-widgets.js}"></script>
<MainContent>

    <div class="col-sm-3" th:each="item:${data}">
        <div class="xe-widget xe-progress-counter xe-counter-block-primary" data-count=".num" data-from="0" th:attr="data-to= ${item.total}" data-suffix="条" data-duration="3">
            <div class="xe-background">
                <i class="linecons-cloud"></i>
            </div>
            <div class="xe-upper">
                <div class="xe-icon">
                    <i class="linecons-cloud"></i>
                </div>
                <div class="xe-label">
                    <span th:text="${item.name}"></span>
                    <strong class="num" th:text="${item.total}"></strong>
                </div>
            </div>
            <div class="xe-progress">
                <span class="xe-progress-fill" data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true" style="width: 100%;"></span>
            </div>
            <div class="xe-lower">
                <span>截止到现在，今日采集数量</span>
                <strong th:text="${item.nowCount}"></strong>
            </div>
        </div>
    </div>

    <div class="page-loading-overlay">
        <div class="loader-2"></div>
    </div>

</MainContent>

</html>