<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingsoft.spider.business.common.spider.wechat.mapper.WechatExtopiaMapper">
    <insert id="xmqzAdd">
        INSERT  INTO wechat_xmqz_comment(time,text,title,author)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.time},
            #{item.text},
            #{item.title},
            #{item.author}
            )
        </foreach>
    </insert>

    <insert id="extopiaAdd">
        INSERT  INTO wechat_extopia_comment(time,text,title,author)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.time},
            #{item.text},
            #{item.title},
            #{item.author}
            )
        </foreach>
    </insert>

    <insert id="matAdd">
        INSERT  INTO wechat_mat_comment(time,text,title,author)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.time},
            #{item.text},
            #{item.title},
            #{item.author}
            )
        </foreach>
    </insert>
    <insert id="xmqzSingleAdd">
        INSERT  INTO wechat_xmqz_comment(time,text,title,author)
        VALUES
            (
            #{time},
            #{text},
            #{title},
            #{author}
            )
    </insert>
    <insert id="extopiaSingleAdd">
         INSERT  INTO wechat_extopia_comment(time,text,title,author)
        VALUES
            (
            #{time},
            #{text},
            #{title},
            #{author}
            )
    </insert>
    <insert id="matSingleAdd">
         INSERT  INTO wechat_mat_comment(time,text,title,author)
        VALUES
            (
            #{time},
            #{text},
            #{title},
            #{author}
            )

    </insert>
</mapper>