<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{::PageContainerBelow})">
<script src="/assets/js/mricode.pagination.js"
        th:src="@{/assets/js/mricode.pagination.js}"></script>
<script src="/assets/generic/data/manage/index.js"
        th:src="@{/assets/generic/data/manage/index.js}"></script>
<script src="/assets/js/jedate/jquery.jedate.min.js" th:src="@{/assets/js/jedate/jquery.jedate.min.js}"></script>
<script src="/assets/js/rwd-table/js/rwd-table.min.js" th:src="@{/assets/js/rwd-table/js/rwd-table.min.js}"></script>

<MainContent>
    <link rel="stylesheet" href="/assets/css/jedate/jedate.css"
          th:href="@{/assets/css/jedate/jedate.css}">
    <link rel="stylesheet" href="/assets/js/rwd-table/css/rwd-table.min.css"
          th:href="@{/assets/js/rwd-table/css/rwd-table.min.css}">
    <link rel="stylesheet" href="/assets/css/mricode.pagination.css"
          th:href="@{/assets/css/mricode.pagination.css}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">数据管理</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-sm-3">
                    <div class="alert alert-default">
                        <strong>爬虫列表</strong>
                    </div>

                    <div class="list-group list-group-minimal">
                        <th:block th:each="item  : ${list}">
                            <a href="#" class="list-group-item" th:text="${item.uuid}" th:value="${item.id}">
                            </a>
                        </th:block>
                    </div>
                </div>

                <div class="col-sm-9 ">
                    <button class="btn  btn-red  btn-icon  btn-icon-standalone" id="batch-del">
                        <i class="fa-trash"></i>
                        <span>批量删除</span>
                    </button>

                    <button class="btn btn-purple  btn-icon  btn-icon-standalone" id="batch-edit">
                        <i class="linecons-pencil"></i>
                        <span>批量内容修改</span>
                    </button>

                    <button class="btn btn-red btn-icon  btn-icon-standalone" id="all-del">
                        <i class="fa-trash"></i>
                        <span>全部删除</span>
                    </button>

                    <button class="btn btn-purple  btn-icon  btn-icon-standalone" id="all-edit">
                        <i class="linecons-pencil"></i>
                        <span>全部内容修改</span>
                    </button>

                   <div class="table-responsive" data-pattern="priority-columns">
                       <table class="table table-small-font table-bordered table-striped">
                           <thead>
                           <tr id="table-column-name">
                           </tr>
                           </thead>
                           <tbody id="table-column-data">
                           </tbody>
                       </table>
                   </div>
                    <div id="page" class="m-pagination"></div>

                </div>

            </div>


        </div>
    </div>

</MainContent>

<PageContainerBelow>

    <div class="modal fade" id="modal-batch-del" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否删除选中的数据
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info del-batch-data">是</button>
                </div>
            </div>
            <div class="show-message"></div>
        </div>
    </div>

    <div class="modal fade" id="modal-all-del" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">提示框</h4>
                </div>

                <div class="modal-body">
                    是否删除该表的全部数据
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">否</button>
                    <button type="button" data-dismiss="modal" class="btn btn-info del-all-data">是</button>
                </div>
            </div>
            <div class="show-message"></div>
        </div>
    </div>



    <div class="modal fade" id="replace-all-content">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">替换字段中部分内容</h4>
                </div>
                <form role="form" id="replace-all-content-form" >
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="field" class="control-label">修改的字段名（下面表格中的头名字）</label>
                                    <input type="text" class="form-control" id="field" name="field"
                                           placeholder="修改的字段名">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="orginContent" class="control-label">要替换内容</label>
                                    <input type="text" class="form-control" id="orginContent" name="orginContent"
                                           placeholder="公共替换内容">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="targetContent" class="control-label">替换内容</label>
                                    <input type="text" class="form-control" id="targetContent" name="targetContent"
                                           placeholder="要替换的内容">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startTime" class="control-label">开始时间</label>
                                <div class="input-group">
                                    <input type="text"  name="startTime" class="jeinput form-control " id="startTime" placeholder="YYYY-MM-DD hh:mm:ss">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="endTime" class="control-label">结束时间</label>
                                <div class="input-group">
                                    <input type="text"  name="endTime" class="jeinput form-control " id="endTime" placeholder="YYYY-MM-DD hh:mm:ss">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" id="replace-all-content-id">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-info replace-all-content-submit">提交</button>
                    </div>
                </form>
            </div>
            <div class="replace-all-content-msg"></div>
        </div>
    </div>

    <div class="modal fade" id="replace-content-by-id">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">替换字段中部分内容</h4>
                </div>
                <form role="form" id="replace-content-by-id-form">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="field-byid" class="control-label">修改的字段名（下面表格中的头名字）</label>
                                    <input type="text" class="form-control" id="field-byid" name="field"
                                           placeholder="修改的字段名">
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="orginContent-byid" class="control-label">要替换内容</label>
                                    <input type="text" class="form-control" id="orginContent-byid" name="orginContent"
                                           placeholder="要替换内容">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="targetContent-byid" class="control-label">替换内容</label>
                                    <input type="text" class="form-control" id="targetContent-byid" name="targetContent"
                                           placeholder="替换内容">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" id="replace-batches-content-id">
                        <input type="hidden" name="ids" id="replace-batches-content-ids">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-info replace-content-by-id-submit">提交</button>
                    </div>
                </form>
            </div>
            <div class="replace-content-by-id-msg"></div>
        </div>
    </div>

</PageContainerBelow>
</html>