<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="layout/main-layout ::common(~{::MainContent},~{::script},~{ })">

<script src="/assets/js/datatables/js/jquery.dataTables.min.js"
        th:src="@{/assets/js/datatables/js/jquery.dataTables.min.js}"></script>
<script src="/assets/js/datatables/dataTables.bootstrap.js"
        th:src="@{/assets/js/datatables/dataTables.bootstrap.js}"></script>
<script src="/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"
        th:src="@{/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js}"></script>
<script src="/assets/js/datatables/tabletools/dataTables.tableTools.min.js"
        th:src="@{/assets/js/datatables/tabletools/dataTables.tableTools.min.js}"></script>
<MainContent>
    <link rel="stylesheet" href="/assets/js/datatables/dataTables.bootstrap.css"
          th:href="@{/assets/js/datatables/dataTables.bootstrap.css}">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">数据管理</h3>

            <div class="panel-options">
                <a href="#" data-toggle="panel">
                    <span class="collapse-icon">–</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
        </div>
        <div class="panel-body">

            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $("#example-2").dataTable({
                        dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
                        retrieve: true,
                        aoColumns: [
                            null,
                            null,
                            null,
                            null
                        ]
                    });

                });
            </script>

            <div id="example-2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-bordered table-striped dataTable no-footer" id="example-2" role="grid"
                       aria-describedby="example-2_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="数据" style="width: 331px;">
                            任务组
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="任务名称" style="width: 194px;">
                            任务名称
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="上次采集时间"
                            style="width: 397px;">
                            上次采集时间
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example-2" rowspan="1" colspan="1"
                            aria-label="Actions: activate to sort column ascending" style="width: 321px;">
                            行为
                        </th>
                    </tr>
                    </thead>

                    <tbody class="middle-align">
                    <tr role="row" class="odd">
                        <td>微博</td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>微博</td>
                        <td>自由禁区</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>微博</td>
                        <td>反恐行动</td>
                        <td>2018-2-28</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧</td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 <span class="label label-success">正在运行</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 <span class="label label-info">暂停</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="odd">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    <tr role="row" class="even">
                        <td>贴吧 <span class="label label-warning">停止</span></td>
                        <td>小米枪战</td>
                        <td>2018-2-18</td>
                        <td>
                            <a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
                                配置定时任务
                            </a>

                            <a href="#" class="btn btn-turquoise btn-sm btn-icon icon-left">
                                暂停采集
                            </a>

                            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                                刪除定時任務
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</MainContent>
</html>