<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingsoft.spider.core.home.login.mapper.LoginMapper">
    <update id="updatePassword">
        UPDATE users
        SET pass_word=#{pwd}
        WHERE user_name=#{name}
    </update>
    <update id="updateGenerateTime">
         UPDATE users
        SET last_time=#{generateTime}
        WHERE user_name=#{name}
    </update>
</mapper>