<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="panel-body" th:fragment="body">
    <form role="form" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" size="25" placeholder="请输入新密码">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" size="25" placeholder="请再输入新密码">
        </div>

        <div class="form-group">
            <button class="btn btn-secondary btn-single">确定</button>
        </div>
    </form>
</div>

